@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";



#mailbox-main {
  display:flex;
  justify-content: center;
  border: 2px solid red;
  min-height: 400px; 
}



.table-tr {
  max-height: 20px;
}

#emails-list {
  max-width: 33%;
  min-width: 27%;
}

#emails-list-header {
  max-height: 40px;
}



#selected-email {
  max-width: 67%;
  min-width: 73%;
  border-left: 1px solid rgb(196, 196, 196);
}