<div class="opened-email-container">  
  
  <div id="opened-mail-object">
    <h1><%= email.object %></h1>
  </div>

  <div id="opened-mail-body">
    <p><%= email.body %></p>
  </div>

  <button>Supprimer</button>
  <button>Marquer comme non-lu</button>

</div>