<p id="email-<%=email.id%>-body"><%= email.body %></p>

<br/>

<div style="margin-top: 30px;">
  <button style="background-color: lightgrey">Mark as "Read"/"Unread"</button>

  <%# <button style="background-color: lightcoral">Delete Email</button> %>
  <%= button_to('Delete Email', email_path(@email), method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>

  <br/>
  <br/>

  <%= link_to 'Go Back to Inbox', root_path, style: "color: blue;" %>

</div>