<p id="notice"><%= notice %></p>

<h1>Mon essai de tableau à 2 colonnes : </h1>

<br>
<br>

<%= button_to 'Recevoir un email', new_email_path, method='post', remote: true %>

<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Liste des emails</th>
      <th>Email sélectionné</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.object %></td>
        <td><%=  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

