<%= button_to 'Receive a new email', emails_path, class: "btn btn-danger" %>



<br>



<!-- CONTAINER PRINCIPAL DES EMAILS -->
<section id="mailbox-main">

  <!-- TABLEAU DE GAUCHE -->
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr class="emails-tr">
        <th class="text-center">INBOX:</th>
      </tr>
    </thead>
    <tbody>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
      <tr class="emails-tr">
        <th scope="row">fake email here</th>
      </tr>
    </tbody>
  </table>

  <!-- PARTIE DROITE = "Email Sélectionné" -->
  <div id="selected-email">
    <p>treeeees treeeeeeeeeeeeeeeeeeeeeeeeees loooooooooooooooooooooong test</p>
  </div>

</section> 



